html, body {
    min-height: 100%;
    margin: 0;
}

@font-face {
    font-family: 'angelinaregular';
    src: url('assets/cursive-font-webfont.woff2') format('woff2'),
         url('assets/cursive-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body { 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 40px;
    background-image: url('assets/paisley.png'); 
    background-repeat: repeat; 
    background-color: #f8f8f8; 
}

.title-image-container h1 { 
  font-family: 'angelinaregular', cursive; /* Cursive as fallback  */
  letter-spacing: 3px; 
}

h1 img {
    max-width: 100%; 
    height: auto;  
    margin-bottom: 20px;
    box-shadow: 0 0 20px #ffcccc; 
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

input[type="text"], button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: inherit;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  white-space: pre-wrap;
  height: 50px;
}

.correct-result { 
    color: #256137;  /* Dark forest green */
}

.incorrect-result {
    color: #8b0000; /* Deep maroon */
}

/* Increased spacing in results */
#womenNamed, #invalidGuesses {
  white-space: pre-wrap;
  margin-bottom: 15px; 
}

#resultsPopup {
  display: none;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#timer, #score {
  font-weight: bold;
  font-size: 1.4em;
}

#checkingText { 
  font-size: 15px; 
}

@keyframes loadingDots { /* Same animation as before */
  0% { opacity: 0.2; }
  25% { opacity: 0.4; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}

#checkingText.loading { /* Apply animation when "loading" class is present */
  animation: loadingDots 1.2s infinite linear; 
}
